#navbar{
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    align-items: center;
    padding: 0.25rem 1.5rem;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 1px solid grey;
}

#navbar *{
    text-decoration: none;
    list-style: none;
    color: inherit;
}

#navbar figure {
    width: 40px;
    height: 40px;
}

#links-container{
    display: flex;
    gap: 3rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}
#switch{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}
#switch button{
    padding: 0.4rem 0.4rem 0.15rem;
    border-radius: 50%;
    font-size: 1.25rem;
}
#switch p{
    text-align: end;
}