#psw-gen{
    height: 100vh;
    display: grid;
    place-content: start;
    justify-content: center;
    gap: 2.5rem;
    text-align: center;
    padding-top: 6rem;
}
#psw-gen form{
    width: 100%;
    display: flex;
    justify-content: center;    
    gap: 2rem;
}
#psw-gen label{
    display: flex;
    gap: 1rem;
}
#output{
    font-size: 3rem;
    font-weight: 600;
}
#psw-gen button {
    width: 10rem;
    justify-self: center;
}