#psw-gen{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    padding-top: 6rem;
}
#psw-gen form{
    width: 100%;
    display: flex;
    justify-content: center;    
    gap: 2rem;
    background-color: rgba(81, 168, 194, 60%);
    padding: 2rem 1rem;
    width: 85vw;
}
#psw-gen label{
    display: flex;
    gap: 1rem;
}
#psw-gen input[type='number']{
    width: 2.5em;
}
#psw-gen button {
    width: 10rem;
    justify-self: center;
    font-size: 1.5rem;
    background-color: rgb(224, 152, 17);
}
.output-container{
    visibility: hidden;
}
.show-output{
    visibility: visible;
    display: grid;
    text-align: center;
    gap: 2rem;
    width: 85vw;
    background-color: rgba(81, 168, 194, 60%);
    padding: 1rem 1rem 2rem;
}
.show-output span{
    font-size: 2.25rem;
    font-weight: 600;
}
