* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}
button {
  border: 1px solid grey;
  font-size: inherit;
}

.light, .light>* {
  background-color: rgb(220, 220, 220);
  color: rgb(50, 50, 50);
}

.dark, .dark>* {
  background-color: rgb(50, 50, 50);
  color: rgb(220, 220, 220);
}